apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-isucmbma
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-isucmbma:dfc28fabbfa57a326f000d0aff5048124ade19f0@sha256:fca49d40c574d0d12bf85aa7d4be4f52293bcd9134c12bbba51693a0286578f2
        name: container-image  
